{% extends 'base2.html' %}
{% load static %}


{% block content %}

<main role="main">
  <div class="container">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    
      <h1 class="display-1 text-center">Tables  <img src="{% static 'guru.png' %}" height="90" width="90" class="d-inline-block align-top" /></h1>
      <br>
      <p class="lead text text-left">Tables are grouped by number of pilots and VTX channel set investigated. Tables list channel groups with passing scores, from best to worst.
        These tables are used by Smart Search to find the best channel group for pilots so as few as possible pilots have to change channels.
      </p>
      <br>
      <br/>
        <p class="text-left"><a class="btn btn-info btn-lg" href="{% static 'list6.pdf' %}" role="button">6 pilot -- 40 channel -- Best group: A4 E2 E4 E6 E8 F2 &raquo;</a></p>   
        <p class="text-left"><a class="btn btn-success btn-lg" href="{% static 'list6usa.pdf' %}" role="button">6 pilot -- USA only -- Best group: F2 F4 R1 R2 R7 R8 &raquo;</a></p>
        <p class="text-left"><a class="btn btn-secondary btn-lg" href="{% static 'list6low_abrv.pdf' %}" role="button">6 pilot -- lowband -- Best group* A2 E8 R2 L1 L5 L8 &raquo;</a></p>
      <br/>
        <p class="text-left"><a class="btn btn-info btn-lg" href="{% static 'list5.pdf' %}" role="button">5 pilot -- 40 channel -- Best group* E2 E4 E6 E8 F2 &raquo;</a></p>
        <p class="text-left"><a class="btn btn-success btn-lg" href="{% static 'list5usa.pdf' %}" role="button">5 pilot -- USA only -- Best group: B3 F7 R1 R3 R8 &raquo;</a></p>
        <p class="text-left"><a class="btn btn-secondary btn-lg" href="{% static 'list5low_abrv.pdf' %}" role="button">5 pilot -- lowband -- Best group* E8 F5 R1 L1 L6 &raquo;</a></p>	      
      <br/>   
     	  <p class="text-left"><a class="btn btn-info btn-lg" href="{% static 'list4.pdf' %}" role="button">4 pilot -- 40 channel -- Best group* B1 E4 E8 F7 &raquo;</a></p>
        <p class="text-left"><a class="btn btn-success btn-lg" href="{% static 'list4usa.pdf' %}" role="button">4 pilot -- USA only -- Best group* R1 R3 R6 R8  &raquo;</a></p>
        <p class="text-left"><a class="btn btn-secondary btn-lg" href="{% static 'list4low_abrv.pdf' %}" role="button">4 pilot -- lowband -- Best group* E8 R4 L1 L6 &raquo;</a></p>
      <br/>  
      	<p class="text-left"><a class="btn btn-info btn-lg" href="{% static 'list3.pdf' %}" role="button">3 pilot -- 40 channel -- Best group* B3 E4 E8 &raquo;</a></p>
        <p class="text-left"><a class="btn btn-success btn-lg" href="{% static 'list3usa.pdf' %}" role="button">3 pilot -- USA only -- Best group* R1 R4 R8 &raquo;</a></p>
        <p class="text-left"><a class="btn btn-secondary btn-lg" href="{% static 'list3low.pdf' %}" role="button">3 pilot -- lowband -- Best group* E8 R1 L1 &raquo;</a></p>
      <br/>
      <li class="lead text-muted">Best group* (with asterisk) means other groups have same top score. Not a clear "best".</li>
      <li class="lead text-muted">40 channel is all of bands A B E F & R(C)</li>
      <li class="lead text-muted">USA only is 40 channel set minus channels E4 E7 E8</li>
      <li class="lead text-muted">Lowband is 40 channel set plus lowband. </li>
      <li class="lead text-muted">Lowband tables for 4, 5, & 6 pilots show the first 1000 entries only.</li>       
    </div>
  </div>
  <div class="container">
    <h4>USA channels observations:</h4>
    <br/>
    <p>When moving from the best U.S. legal 6 channel group - R1 R2 F2 F4 R7 R8 - to a 5 channel group (i.e. a pilot leaves)
       the best 5 channel subset is achieved by dropping F4 from the group. R1 R2 F2 R7 R8 - weighted video clarity score 72.7.
    </p>
    <p>If a pilot leaves other than the F4 pilot, the F4 pilot can move to the channel of the pilot that just left to achieve
      using this best subset. This takes one swap. Interestingly though, if the a pilot on channels R2 or F2 happens to leave, 
      for the same one swapped channel a considerably better 5 channel group can be achieved. If R2 or F2 leaves - let's say R2 -
      have the other one - F2 in our example - move to B2. Bam! Now your on - B2 F4 R1 R7 R8 - with a weighted video clarity score  
      of 81.2.
    </p>
    <br/>
    <br/>
    <h4>40 channels observations:</h4>
    <br/>
    <p>What is the best 5 channel group from the 40 channel set? Interestingly - A5 E8 F6 R1 R2 - has the best IMD score of them all. 
      The question is how much does it matter that two channels are 37MHz apart and not 40MHz apart? Is the algorithm reducing 
      the score appropriately? Or could this be the best group for this set?
    </p>
</main>
{% endblock %}



