{% extends 'base2.html' %}
{% load static %}
 

{% block content %}

<main role="main">

  <!-- Main jumbotron -------------------------------------------->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">IMD Plus <img src="{% static 'wifi.png' %}" height="90" width="90" /></h1>
      <p>Transmitting on two or more FPV video channels simultaneously can cause problems. Enter two or more channels to check for interference.
      Enter Band Channel abbreviation and/or four digit frequency.</p> 
      <p>Bands: A - B - E - F - R(C) - L   -- Channels: 1-8</p>

      <form method="POST" action="{% url 'analyze' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="channel_group" placeholder="E.g. F1 5645" minlength="5" maxlength="50" pattern="[a-ce-flrA-CE-FLR0-9\s]+" required/>
      <input class="btn btn-primary" type="submit" value="Analyze" name="Analyze" />
      </form>

    </div>
  </div>
  <!-- END Main jumbotron -------------------------------------------->
  <div class="container">
    <!-- CHANNEL FREQUENCY DISPLAY ------------------------------------->
    <h1 class="text-center text-thin text-primary" style="font-family: Verdana;">    
      {% for print in printable %}
      {{ print }}
      {% endfor %}
      <br>
    </h1>
    <h3 class="text-center text-thin text-black-50" style="font-family: Verdana;">
      {% for convert in converted %}
      <small>{{ convert }}</small>
      {% endfor %}
    </h3>
    <!-- END CHANNEL FREQUENCY DISPLAY -------------------------------->
    
    <div style="border: 3px solid black; height: 8px; border-radius: 5px; background-color: lightgrey;"></div>
    <br/>
    <!-- TOP row of columns -->
    <div class="row">
      <!-- SCORES ------------------------------------------------------>
      <div class="col-md-4">
        <br>
        <h2 class="text-dark" style="font-family: Verdana;">Scores</h2>
        <hr style="border-top: 1px solid black;">
        <table>
          <tr>
            <th style="font-size: 20px;">Video Clarity Score</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th style="color: blue; font-size: 24px">{{ score_alt }}</th>
          </tr>
          <tr>
            <th>Weighted V.C.S. Score</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="font-weight-bold">{{ score_alt_weighted }}</td>
          </tr>
          <tr>
            <th>Raw I.M.D. Score</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="font-weight-bold text-warning" >{{ IMD_score }}</td>
          </tr>
        </table>
        <br>
        <li><small class="text-muted">Top score is 100</small></li>
        <li><small class="text-muted">Weighted VCS is for 5 and 6 channel groups</small></li>
        <li><small class="text-muted">Best 40chan group has weighted score of 100</small></li>
      </div>
      <!-- END SCORES ------------------------------------------------->
      <!-- Properties ------------------------------------------------->
      <div class="col-md-4">
        <br>
        <h2 class="text-dark" style="font-family: Verdana;">Properties</h2>
        <hr style="border-top: 1px solid black;">
        <table>
           <tr>
            <th>Min VTX separation</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="font-weight-bold text-primary">{{ closest_broadcast }} MHz</td>
          </tr>
          <tr>
            <th>Closest IMD to channel</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="font-weight-bold text-warning">{{ closest_imd }} MHz</td>
          </tr>
          <tr>
            <th>Number of problem IMD</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="font-weight-bold text-warning">{{ divide_by }}</td>
          </tr>
          <tr>
            <th>Times IMD close to chan</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="font-weight-bold text-warning">{{ IMD_close_to_chan }}</td>
          </tr>
        </table>     
      </div>
      <!-- END Properties ------------------------------------------->
      <!-- Problems ------------------------------------------------->
      <div class="col-md-4">
        <br>
        <h2 class="text-dark" style="font-family: Verdana;">Problems</h2>
        <hr style="border-top: 1px solid black;">
        <table>
        {% for warning in warnings %}
        <tr>
          <td class="text-danger">{{ warning }}</td>
        </tr>
        {% endfor %}
        </table>
      </div>
      <!-- END Problems -------------------------------------------->
    </div>
    <!-- END TOP row of columns -->
    <br/>
    <!-- BOTTOM row of columns -->
    <div class="row">
      <!-- IMD Frequencies ----------------------------------------->
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <br>
        <h2 class="text-dark text-center" style="font-family: Verdana;">IMD Frequencies</h2>
        <hr style="border-top: 1px solid black; width: 300px;">
        <table border="1" class="mx-auto" style="width: minimax(200px, 500px);">
          <thead>
            <tr>
              <th class="text-light bg-dark">Channels(MHz)</th>
              {% for chan in converted %}
              <th class="bg-info">{{ chan }}</th>
              {% endfor %}
            </tr>
          </thead>

          <tbody>
          {% for sublist in imd_freqz %}
          <tr>
            {% for idx, freq in sublist %}
              {% if idx == 0 %}
              <th class="bg-primary text-center">{{ freq }}</th>
              {% else %}
              <td class="bg-warning">{{ freq }}</td>
              {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
          </tbody>
        </table>
        <h5 class="text-secondary text-center">IMD equation: (2 x <span class="text-primary">F1)</span> - <span class="text-info">F2</span> = <span class="text-warning">F3</span></h5>
      </div>
      <div class="col-md-3">
      </div>
      <!-- END IMD Frequencies ----------------------------------------->     
  </div>

</main>

{% endblock %}