{% extends 'base2.html' %}
{% load staticfiles %}
 

{% block content %}
{% if error %}
<br/>
<h2 class="text-center">{{ error }}</h2>
<br/>
{% endif %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">IMD Plus <img src="{% static 'wifi.png' %}" height="90" width="90" /></h1>
      <p>Transmitting on two or more FPV video channels simultaneously can cause problems. Enter two or more channels to check for interference.
      Enter Band Channel abbreviation and/or four digit frequency.</p> 
      <p>Bands: A - B - E - F - R(C) - L   -- Channels: 1-8</p>

      <form method="POST" action="{% url 'analyze' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="channel_group" placeholder="E.g. F1 5645" minlength="5" maxlength="50" pattern="[a-ce-flrA-CE-FLR0-9\s]+" required/>

      <input class="btn btn-primary" type="submit" value="Analyze" name="Analyze" /><span class="text-bold"><big>  
      </span>
      </big>
    

      </form>
    </div>
  </div>

  <div class="container">
    <h4 class="text-center text-thin">
      Channels: 
      {% for print in printable %}
      {{ print }}  
      {% endfor %}
      -- Frequencies: 
      {% for convert in converted %}
      {{ convert }}
      {% endfor %}
    </h4>
    <br/>
    <br/>
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Scores</h2>
        <br>
        <table>
          <tr>
            <th>Video Clarity Score</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th>{{ score_alt }}</th>
          </tr>
          <tr>
            <th>Weighted V.C.S. Score</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ score_alt_weighted }}</td>
          </tr>
          <tr>
            <th>Raw I.M.D. Score</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ IMD_score }}</td>
          </tr>
        </table>
        <br>
        <li><small class="text-muted">Top score is 100</small></li>
        <li><small class="text-muted">Weighted VCS is for 5 and 6 channel groups</small></li>
        <li><small class="text-muted">Best 40chan group gets weighted score of 100</small></li>
      </div>
      <div class="col-md-4">
        <h2>Properties</h2>
        <br>
        <table>
          <tr>
            <th>Closest IMD to channel</th>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ closest_imd }} MHz</td>
          </tr>
          <tr>
            <th>Number of problem IMD</th>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ divide_by }}</td>
          </tr>
          <tr>
            <th>Times IMD close to chan</th>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ IMD_close_to_chan }}</td>
          </tr>
          <tr>
            <th>Min VTX separation</th>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ closest_broadcast }} MHz</td>
          </tr>

        </table>
        
      </div>
      <div class="col-md-4">
        <h2>Problems</h2>
        <br>
        <table>
        {% for warning in warnings %}
        <tr>
          <td>{{ warning }}</td>
        </tr>
        {% endfor %}
        </table>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-4">
      </div>

      <div class="col-md-4">
        <h2>IMD Frequencies</h2>
        
        <table border="1" bgcolor="orange">
          <thead>
            <tr>
              <th>Chan</th>
              {% for chan in converted %}
              <th>{{ chan }}</th>
              {% endfor %}
            </tr>
          </thead>

          <tbody>
          {% for sublist in imd_freqz %}
          <tr>
            {% for idx, freq in sublist %}
              {% if idx == 0 %}
              <th>{{ freq }}</th>
              {% else %}
              <td>{{ freq }}</td>
              {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-md-4">
      </div>
  </div>

</main>

{% endblock %}