<!doctype html>
<html lang="en">
{% load staticfiles %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../../../favicon.ico">-->

    <title>VTX-Guru</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.2/examples/pricing/pricing.css" rel="stylesheet">
    <link href="{% static 'open-iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
  </head>

  <body style="background: url('{% static 'dubai.jpeg' %}'); background-repeat: no-repeat; background-size:2560px 1450px; background-color: black; background-position: top;">

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
      <img onclick="window.location='{% url 'home' %}';" style="cursor: pointer;" src="{% static 'guru (1).png' %}"  class="d-inline-block align-top" />
      <h4  onclick="window.location='{% url 'home' %}';" style="color: azure; cursor: pointer;" class="my-0 mr-md-auto font-weight-normal">VTX-Guru</h4>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-white" href="{% url 'search' %}"><span class="oi oi-magnifying-glass" style="color: azure; font-size: 22px;"></span> Search</a>
        <a class="p-2 text-white" href="{% url 'tables' %}">Tables</a>
        <a class="p-2 text-white" href="{% url 'analyze' %}">Analyze</a>
        <a class="p-2 text-white" href="{% url 'scores' %}">About</a>
      </nav>
    </div>

{% block content %}
{% endblock %}

    <div class="container">
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">        
            <small class="d-block mb-3 text-white">konkrer &copy; 2019</small>
          </div>
          <div class="col-6 col-md text-white">
            <h4>More</h4>
            <ul class="list-unstyled text-small">
              <li><a class="text-white" href="{% url 'metrics' %}">Metrics</a></li>
              <li><a class="text-white" href="https://github.com/konkrer/VTX-Guru">Investigate</a></li>
              <!--<li><a class="text-white" href="http://206.189.170.154">konk-site</a></li>-->
              <li><a class="text-muted" href="{% url 'paradox' %}"> Paradox</a></li>
            </ul>
          </div>
          <div class="col-6 col-md text-white">
            <h4>About</h4>
            <ul class="list-unstyled text-small">
              <li><a class="text-white" href="{% url 'scores' %}">Scoring</a></li>
              <li><a class="text-white" href="{% url 'IMD' %}">IMD</a></li>
              <li><a class="text-white" href="{% url 'credits' %}">Credits</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>