<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Richard Iannucelli" />
    <meta
      name="description"
      content="Video clarity tool suite for drone pilots (5G). Keep video feeds clear when multiple pilots fly at once."
    />
    <meta property="og:title" content="VTX Guru" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://repository-images.githubusercontent.com/164647399/f37ea680-78a6-11eb-9741-3cf60b8d04a9"
    />
    <meta property="og:url" content="https://konkrer.github.io/Connect-4/" />
    <meta
      property="og:description"
      content="Video clarity tool suite for drone pilots (5G). Keep video feeds clear when multiple pilots fly at once."
    />

    <title>VTX-Guru</title>

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <link
      href="https://getbootstrap.com/docs/4.2/examples/pricing/pricing.css"
      rel="stylesheet"
    />
    <link
      href="{% static 'open-iconic/font/css/open-iconic-bootstrap.css' %}"
      rel="stylesheet"
    />
  </head>

  <body
    style="
      background: url('{% static 'dubai.jpeg' %}');
      background-repeat: no-repeat;
      background-size: 2560px 1450px;
      background-color: black;
      background-position: top;
    "
  >
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-info mb-3"
    >
      <a class="navbar-brand" href="{% url 'home' %}"
        ><img
          src="{% static 'guru (1).png' %}"
          class="d-inline-block align-top"
        /><span class="my-0 mr-md-auto font-weight-normal" style="color: azure">
          VTX-Guru</span
        ></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link pt-1" href="{% url 'search' %}"
              ><span
                class="oi oi-magnifying-glass"
                style="color: azure; font-size: 22px"
              ></span>
              Search<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tables' %}">Tables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'analyze' %}">Analyze</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'scores' %}">Scoring</a>
              <a class="dropdown-item" href="{% url 'IMD' %}">IMD</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'metrics' %}">Metrics</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    {% block content %} {% endblock %}

    <div class="container">
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-white">konkrer &copy; 2019</small>
          </div>
          <div class="col-6 col-md text-white">
            <h4>More</h4>
            <ul class="list-unstyled text-small">
              <li>
                <a class="text-white" href="{% url 'metrics' %}">Metrics</a>
              </li>
              <li>
                <a class="text-white" href="https://github.com/konkrer/VTX-Guru"
                  >Investigate</a
                >
              </li>
              <li>
                <a class="text-muted" href="{% url 'paradox' %}"> Paradox</a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-md text-white">
            <h4>About</h4>
            <ul class="list-unstyled text-small">
              <li>
                <a class="text-white" href="{% url 'scores' %}">Scoring</a>
              </li>
              <li><a class="text-white" href="{% url 'IMD' %}">IMD</a></li>
              <li>
                <a class="text-white" href="{% url 'credits' %}">Credits</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script>
    window.jQuery ||
      document.write(
        '<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>'
      );
  </script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"
  ></script>
  <script>
    Holder.addTheme('thumb', {
      bg: '#55595c',
      fg: '#eceeef',
      text: 'Thumbnail',
    });
  </script>
</html>
