{% extends 'base.html' %}




{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">VTX GURU</h1>
      <p class="lead">FPV multi pilot video clarity tools.</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm" onclick="window.location='{% url 'search' %}';" style="cursor: pointer;">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Search</h4>
          </div>
          <div class="card-body">
          	<h1 class="card-title pricing-card-title">Make it work.</h1>
          	<ul class="list-unstyled mt-3 mb-4">
              <li>Find a high clarity VTX channel</li>
              <li>group working with the channels</li>
              <li>pilots are already on, so as</li>
              <li>few as possible need to change</li>
              <li>channel.</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Search</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm" onclick="window.location='{% url 'tables' %}';" style="cursor: pointer;">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Look</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Find the best.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>See tables of channel groups</li>
              <li>possessing a passing video</li>
              <li>clarity score. See what the best</li>
              <li>scoring groups are!</li>
            </ul>
            <br/>
            <button type="button" class="btn btn-lg btn-block btn-primary">Tables</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm" onclick="window.location='{% url 'analyze' %}';" style="cursor: pointer;">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Analyze</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Score group.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Analyzes entered 5 GHZ VTX</li>
              <li>channel group and produces</li>
              <li>video clarity score and other</li>
              <li>stats.</li>
            </ul>
            <br/>
            <button type="button" class="btn btn-lg btn-block btn-primary">Analyze</button>
          </div>
        </div>
      </div>

{% endblock %}