{% extends 'base2.html' %}

{% block content %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-12">
      	<br/>
        <br/>
        <br/>
        <h1 class="text-center">IMD and FPV</h1>
        <br/>
        <br/>
        <br/>
        <p>
	IMD is an abbreviation for "Intermodulation Distortion", and is a concern 
	to FPV pilots when multiple FPV pilots fly at once. When two modulated RF
	signals (VTX signals) are broadcast at the same time third-order distortion 
	products are observed in the receiver, which are close to the original 
  broadcast signal frequencies.</p> 
	    <p>
	It is these third-order distortion products that are the IMD. They manifest 
  frequency content on nearby frequencies, sometimes called "spectral regrowth".
  This is believed to be the main cause of problems when multiple pilots fly at once.</p>
	    <p>
	IMD score, and therefore video clarity score, is lowered by VTX Guru as IMD 
  frequencies get closer to the broadcast VTX channels and by the increasing times 
  the IMD frequencies are close to broadcast VTX channels in total.</p>
      </div>
    </div>
        <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row">
      <div class="col-md-12">
      	<h4>More resources:</h4>
      	<br/>
      	<p>Good IMD article at <a href="https://www.propwashed.com/intermodulation-distortion-destroyer-group-video/" target="_blank"> Propwashed.com</a></p>    	
      	<br/>
      	<p>Another IMD calc for FPV: <a href="http://www.etheli.com/IMD/" target="_blank"> ET’s FPV IMD Tools</a></p>
      </div>

    </div>
</div>

{% endblock %}