{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Metrics</h1>
      <p class="lead text-muted">Graphical information about the distribution of scores, bands, and channels per study group.</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <title>Scores Distributions Box</title><img onclick="window.location='{% url 'boxplot' %}';" style="cursor: pointer;" src="{% static 'plots/Scores_Dist_Boxchart.png' %}" width="285" height="200"  />
            <div class="card-body">
              <p class="card-text">Scores distribution per group.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location='{% url 'boxplot' %}';" style="cursor: pointer;">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <title>Band Distributions Pie</title><img onclick="window.location='{% url 'piechart' %}';" style="cursor: pointer;" src="{% static 'plots/Band_Dist_Piechart.png' %}" width="285" height="200"  />
            <div class="card-body">
              <p class="card-text">Bands distribution per group.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location='{% url 'piechart' %}';" style="cursor: pointer;">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <title>Channel occur</title><img onclick="window.location='{% url 'chan_occur' %}';" style="cursor: pointer;" src="{% static 'plots/channel_occur2/chans_list5.png' %}" width="285" height="200"  />
            <div class="card-body">
              <p class="card-text">Channels distribution per group.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location='{% url 'chan_occur' %}';" style="cursor: pointer;">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <title>Scores Distributions Bar</title><img onclick="window.location='{% url 'scores_bar' %}';" style="cursor: pointer;" src="{% static 'plots/Scores_Dist_Barchart.png' %}" width="285" height="200"  />
            <div class="card-body">
              <p class="card-text">Scores distribution per group.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location='{% url 'scores_bar' %}';" style="cursor: pointer;">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <title>Band Distributions Bar</title><img onclick="window.location='{% url 'bands_bar' %}';" style="cursor: pointer;" src="{% static 'plots/Band_Dist_Barchart.png' %}" width="285" height="200"  />
            <div class="card-body">
              <p class="card-text">Bands distribution per group.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location='{% url 'bands_bar' %}';" style="cursor: pointer;">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <title>Freq Dist</title><img onclick="window.location='{% url 'freq_dist' %}';" style="cursor: pointer;" src="{% static 'plots/Frequency_Dist.png' %}" width="285" height="200"  />
            <div class="card-body">
              <p class="card-text">Frequency distribution per group.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location='{% url 'freq_dist' %}';" style="cursor: pointer;">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>

</main>
{% endblock %}