{% extends 'base2.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <!-- Example row of columns -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 class="text-center"></h2>
    <br/>
    <div class="row">
      <div class="col-md-12">
      	<!-- <video src="{% static 'media/Oceana breaks and gates.mp4' %}" height="500" width="900" controls>Cannot Play Video</video>   -->
      </div>
    </div>
</div>

{% endblock %}