{% extends 'base2.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <!-- Example row of columns -->
    <h2 class="text-center">Channels distribution per study group.</h2>
    <div class="row">
      <div class="col-md-12">
      	<br/>
      	<img class="img-fluid" src="{% static 'plots/channel_occur2/chans_list3.png' %}" />       
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      	<br/>
      	<img class="img-fluid" src="{% static 'plots/channel_occur2/chans_list3usa.png' %}" />       
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      	<br/>
      	<img class="img-fluid" src="{% static 'plots/channel_occur2/chans_list3low.png' %}" />       
      </div>
      <div class="col-md-12">
      	<br/>
      	<img class="img-fluid" src="{% static 'plots/channel_occur2/chans_list4.png' %}" />       
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      	<br/>
      	<img class="img-fluid" src="{% static 'plots/channel_occur2/chans_list4usa.png' %}" />       
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      	<br/>
      	<img class="img-fluid" src="{% static 'plots/channel_occur2/chans_list4low.png' %}" />       
      </div>
      <div class="col-md-12">
      	<br/>
      	<img class="img-fluid" src="{% static 'plots/channel_occur2/chans_list5.png' %}" />       
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      	<br/>
      	<img class="img-fluid" src="{% static 'plots/channel_occur2/chans_list5usa.png' %}" />       
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      	<br/>
      	<img class="img-fluid" src="{% static 'plots/channel_occur2/chans_list5low.png' %}" />       
      </div>
      <div class="col-md-12">
      	<br/>
      	<img class="img-fluid" src="{% static 'plots/channel_occur2/chans_list6.png' %}" />       
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      	<br/>
      	<img class="img-fluid" src="{% static 'plots/channel_occur2/chans_list6usa.png' %}" />       
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      	<br/>
      	<img class="img-fluid" src="{% static 'plots/channel_occur2/chans_list6low.png' %}" />       
      </div>
    </div>
</div>

{% endblock %}